
<div class="example-container">
  <p>convertir votre taille </p>
  
      <mat-form-field  appearance="fill" >
        <mat-label>en centimetres</mat-label>
        <input matInput placeholder='123..'  [(ngModel)]="centimetre"(ngModelChange)="cmToPied()"(ngModelChange)="piedToCm()">
       
        
      </mat-form-field>
     
        <mat-form-field  appearance="fill"  >
          <mat-label>en Pieds</mat-label>
          <input matInput placeholder='123..' [(ngModel)]="pied"(ngModelChange)="cmToPied()" >
         
          
        </mat-form-field>
      </div>

    