.example-full-width {
    width: 45%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
  }
 p{
text-align: center;
color: blue;
font-size: larger;

 }
 .convert{
    color:rgb(255, 0, 0);
    font-size:small;
  
   }