
<div class="container">
<p>convertir votre taille </p>

    <mat-form-field class="example-full-width" appearance="fill" id="cent">
      <mat-label>en centimetres</mat-label>
      <input matInput placeholder="1234...." value="centimetres">
     
    </mat-form-field>
   
      <mat-form-field class="example-full-width" appearance="fill"[floatLabel]="floatLabelControl.value">
        <mat-label>en Pouces</mat-label>
        <input matInput placeholder="1234...." value="pouces">
       
      </mat-form-field>
    </div>
  